.errorBlock img {
  width: 70%;
}
.errorBlock {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}
.error {
  display: flex;
  flex-direction: column;
}

.error h2 {
  text-align: center;
  margin-top: 7vh;
}
